<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :card_title%>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.cktext_area :body, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'full' } %>

  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible, id: :visibility %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tag, id: :tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
